:root {
  --font-family: Baloo, "sans-serif";
  --font-family-body: Inter, "sans-serif";
  --border-color: #eaeaea;
  --color-neutral: #efefef;
  --color-text-primary: #373737;
  --color-text-secondary: #8d8d8d;
  --color-primary-raw: 196, 145, 248;
  --color-primary-dark-raw: 158, 70, 247;
  --color-primary: rgb(var(--color-primary-raw));
  --color-primary-dark: rgb(var(--color-primary-dark-raw));
  --color-primary-very-dark: #50227e;

  --color-gradient: linear-gradient(
    305deg,
    hsl(355deg 63% 70%) 1%,
    hsl(314deg 46% 60%) 27%,
    hsl(269deg 36% 56%) 43%,
    hsl(221deg 42% 64%) 58%,
    hsl(214deg 46% 63%) 74%,
    hsl(228deg 50% 56%) 100%
  );
  --box-shadow-1: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  --box-shadow-2: 0px 0px 0.9310142993927002px 0px rgba(0, 0, 0, 0.17),
    0px 0px 3.1270833015441895px 0px rgba(0, 0, 0, 0.08),
    0px 7px 14px 0px rgba(0, 0, 0, 0.05);
}

html,
body {
  overscroll-behavior-x: contain;
}
